[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
python-dateutil = "*"
flask-restful = "*"
flask-apispec = "*"
marshmallow = "*"
flask-restx = "*"
requests = "*"
faker = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
